## SQLAssignment_8

### Q-15. Write an SQL query to fetch intersecting records of two tables.

    select 
        worker.empno,
        worker.first_name,
        workerclone.empno,
        workerclone.first_name
    from worker 
    inner join workerclone 
    on workerclone.name = worker.name

<img src="A8_1.jpg" width="900"/>

### Q-16. Write an SQL query to show records from one table that another table does not have.

    SELECT w.empno,  w.first_name , wc.empno,  wc.first_name
    FROM workerclone w
    LEFT JOIN worker wc
    ON w.first_name = wc.first_name;

<img src="A8_2.jpg" width="900"/>